:root {
    --headerBg: #fff;
    --headerScrollBg: #212121;
    --headerText: #fff;
    --prColor: #d62200;
    --seColor: #f08c2e;
    --prText: #d62200;
    --btnBg: #fff;
    --btnText: #fff;
    --btnBg2: #212121;
    --btnText2: #fff;
}